<template name="projectList">
	<div class="container-fluid projectList">
		<div class="col-md-4">
			<p>These items will start with my first projects. These will be images. Upon hover they will display project name, services provided and link to full case study. lacinia eget sapien sit amet. Nulla eu ipsum arcu. Donec varius dui eu egestas molestie. Praesent nec mauris risus. Praesent cursus id metus ut porta. Etiam facilisis quam at elementum vehicula. Phasellus quis augue in massa faucibus malesuada at tincidunt quam. Curabitur tristique elit at cursus faucibus.</p>
		</div>

		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus diam, lacinia eget sapien sit amet, vulputate pellentesque nisl. Nulla eu ipsum arcu. Donec varius dui eu egestas molestie. Praesent nec mauris risus. Praesent cursus id metus ut porta. Etiam facilisis quam at elementum vehicula. Phasellus quis augue in massa faucibus malesuada at tincidunt quam. Curabitur tristique elit at cursus faucibus.</p>
		</div>

		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus diam, lacinia eget sapien sit amet, vulputate pellentesque nisl. Nulla eu ipsum arcu. Donec varius dui eu egestas molestie. Praesent nec mauris risus. Praesent cursus id metus ut porta. Etiam facilisis quam at elementum vehicula. Phasellus quis augue in massa faucibus malesuada at tincidunt quam. Curabitur tristique elit at cursus faucibus.</p>
		</div>

	</div>
</template>