<template name="projects">
	<div class="container-fluid">
		{{> featuredProjects}}
	</div>
	<div class="col-md-8 col-md-offset-2 center">
		<hr />
			<h3>WEB APPS</h3>
			<p class="lead">
				This will be a call to action section to grab potential clients. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus diam, lacinia eget sapien sit amet, vulputate pellentesque nisl.<br /><br />
				<a class="btn btn-default" href="/contact" role="button">Catchy Phrase</a>
			</p>
		<hr />
	</div>

	<div class="container-fluid">
		{{> projectList}}
	</div>
</template>
