<template name="about">
	<div class="container-fluid" id="about">
		<div class="col-md-6" id="">
			<p class="lead">
				<span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus diam, lacinia eget sapien sit amet, vulputate pellentesque nisl. Nulla eu ipsum arcu. Donec varius dui eu egestas molestie. Praesent nec mauris risus. Praesent cursus id metus ut porta. Etiam facilisis quam at elementum vehicula. Phasellus quis augue in massa faucibus malesuada at tincidunt.
			</p>

			<p class="lead">
				Vivamus neque arcu, laoreet non ex vel, pharetra porttitor mi. Quisque vel tellus eu diam posuere dapibus. Sed nulla risus, vestibulum nec orci sit amet, sodales molestie sem. Proin ultrices iaculis imperdiet.
			</p>
		</div>

		<div class="col-md-6">
			

		</div>
	</div>
</template>
